<%
  maximum_entries = (params[:mode] == "single") ? 1 : nil
%>
<h2><%= @title %></h2>

<% form_tag({ :action => "update" }, :multipart => true) do %>
  <% minimum_entries ||= 10 %>

  <% if params[:mode] == "single" %>
    <% attachment = @primary.send(@relationship) %>
    <% unless attachment.nil? %>
      <ul>
	<%= render :partial => "entry", :locals => { :attachment => attachment, :fields => @fields } %>
      </ul>
      <% maximum_entries = 0 %>
    <% end %>
  <% else %>
    <% relationship_entries = @primary.send(@relationship) %>
    <% unless relationship_entries.blank? %>
      <h3>Existing Items</h3>
      <ul class="acts_as_div" id="attachment_list">
        <% relationship_entries.each do |attachment| %>
          <%= render :partial => "entry", :locals => { :attachment => attachment, :fields => @fields, :mode => params[:mode] } %>
        <% end %>
      </ul>
      <%= sortable_element("attachment_list", :url => { :action => "attachment_order", :object_id => @primary, :object_type => @primary.class, :relationship => @relationship, :title => @title } ) %>
    <% end %>
  <% end %>

  <% if maximum_entries.nil? || maximum_entries >= 1 %>
    <h3>New Items</h3>
    <ul class="acts_as_div" id="new_attachment_list">
      <%
	 if params[:mode] == "single"
	   num_new_entries = 1
	 else
	   num_new_entries = relationship_entries.size >= minimum_entries ? 1 : minimum_entries - relationship_entries.size
         end
         num_new_entries = maximum_entries if !(maximum_entries.nil?) && maximum_entries < num_new_entries
      %>
      <% 1.upto(num_new_entries) do |entry_num| %>
        <%= render :partial => "entry", :locals => { :position => entry_num, :fields => @fields, :attachment => Attachment.new, :mode => params[:mode] } %>
      <% end %>
    </ul>
  <% end %>

  <%= @static_params_hash.map {|key, val| hidden_field_tag key, val }.join("\n") %>
  <%= submit_tag "Save" %>
<% end %>
